a {
	transition: 0.5s;
	&:hover {
		text-decoration: none;
	}
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

input , textarea {
	&:focus {
		outline: 0;
		&::placeholder {
			opacity: 0;
		}
	}
}

select , a , button {
	&:focus {
		outline: 0;
	}
}

@font-face{
	src: url('../fonts/SVN-GothamRegular.otf');
	font-family: SVN-Gotham;
}
@font-face{
	src: url('../fonts/ChakraPetch-Regular.ttf');
	font-family: Chakra Petch;
}
@font-face{
	src: url('../fonts/SVN-Gotham Light.otf');
	font-family: SVN-Gotham Light;
}


body {
	font-family: SVN-Gotham;
}

/* site35_icon_col12_iconlienhe */
.site35_icon_col12_iconlienhe {
    position: fixed;
    right: 62px;
    bottom: 165px;
    display: grid;
    z-index: 100;
    a {
        text-align: center;
        display: block;
        margin: 10px 0;
        img {
            max-width: 100%;
        }
    }
    a.top_up {

    }
}

@media screen and (max-width: 1400px) {
    .site35_icon_col12_iconlienhe {
        right: 12px;
    }
}

.icon-link {
    position: fixed;
    right: 60px;
    outline: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    background: #2c3776;
    border-radius: 50%;
    bottom: 100px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 1400px) {
    .icon-link {
        right: 10px;
    }
}


.bg_page {
	background: linear-gradient(90deg, #9F9E9F -6.46%, #F1F1F1 23.13%, #FFFFFF 49.36%, #F0F0F0 76.71%, #9F9E9F 100.72%);
	/*overflow: hidden;*/
}

/* site36_head_col0_dcentral */

.site36_head_col0_dcentral {
	background: linear-gradient(90deg, #9F9E9F -5.08%, #FFFFFF 53.75%, #9F9E9F 100.72%);
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.09);
    padding: 16px 0;
	.section_header {
		display: flex;
	    align-items: center;
	    flex-flow: row wrap;
	    justify-content: flex-end;
	    .logo_page {
    	    margin-right: auto;
	    }
	    .icon_open_menu {
	    	display: none;
	    	width: 20px;
	    	span {
	    		display: block;
	    		width: 100%;
	    		height: 2px;
	    		background: #183274;
	    		margin: 5px 0;
	    	}
	    }
	    .menu_page {
	    	> ul {
	    		display: flex;
			    align-items: center;
			    flex-flow: row wrap;
			    font-family: SVN-Gotham;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 21px;
				text-transform: uppercase;
				color: #193274;
				> li {
					position: relative;
					> a {
						padding: 26px 25px;
						color: #193274;
						font-family: SVN-Gotham;
					}
					&:hover {
						.submenu {
							display: block;
							z-index: 100;
						}
					}
					.submenu {
						display: none;
						position: absolute;
						width: 282px;
						top: 47px;
						background: #fff;
						> ul {
							width: 100%;
							> li {
								width: 100%;
								border-bottom: 1px solid #d9d9d9;
								a {
									font-family: SVN-Gotham;
									font-style: normal;
									font-weight: bold;
									font-size: 16px;
									line-height: 21px;
									color: #5A5A5A;
									display: block;
								    width: 100%;
									padding: 15px 10px;
								}
								&:hover {
									background: #2c3776;
									a {
										color: #fff;
									}
								}
							}
						}
					}
				}
	    	}
	    }
	    .form_lang {
	    	display: flex;
		    align-items: center;
		    flex-flow: row wrap;
		    .form_page {
		    	margin-right: 15px;
		    	position: relative;
		    	.open_form {
		    		img {
		    			max-width: 100%;
		    			&:hover {
		    				cursor: pointer;
		    			}
		    		}
		    	}
		    	.form_search {
		    		display: none;
		    		background: #183274;
				    padding: 5px;
				    border-radius: 3px;
				    position: absolute;
				    width: 300px;
				    right: 0;
				    top: 47px;
				    overflow: hidden;
				    input {
			    	    width: 100%;
					    border: none;
					    height: 40px;
					    padding: 0 15px;
					    &::placeholder {
					    	color: #193274;
							font-family: SVN-Gotham;
							font-size: 16px;
					    }
				    }
				    .btn_search {
				    	position: absolute;
					    right: 0;
					    top: 50%;
					    transform: translate(0 ,-50%);
					    border: none;
					    background: #02aef1;
					    height: 55px;
					    width: 55px;
				    }
		    	}
		    	.form_search.active {
		    		display: block;
		    	}
		    }
		    .language_page {
		    	a.active {
	    		    font-family: SVN-Gotham;
				    font-style: normal;
				    font-size: 16px;
				    line-height: 21px;
				    color: #193274;
		    	}
		    	a {
		    		font-family: SVN-Gotham;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 21px;
					color: #BDBDBD;
					padding: 0 7px;
					position: relative;
					&:last-child {
						&:before {
							display: none;
						}
					}
					&:before {
						position: absolute;
						content: '';
						width: 1px;
						height: 60%;
						background: #193274;
						right: 0;
						top: 50%;
						transform: translate(0 , -50%);
					}
		    	}
		    }
	    }
	}
	.section_header.active {
		.icon_open_menu {
			span {
				margin: 0;
				&:nth-child(1) {
					transform: rotateZ(45deg);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					transform: rotateZ(-45deg);
					margin-top: -1px;
				}
			}
		}
	}
}

.site36_head_col0_dcentral.active {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search.active {
    display: block;
    z-index: 1;
}

@media screen and (max-width: 1100px) {
	.site36_head_col0_dcentral .section_header .menu_page {
	    width: 100%;
	    position: fixed;
	    top: 96px;
	    left: 0;
	    background: #fff;
	    padding: 15px 0;
	    z-index: 1;
	}
	.site36_head_col0_dcentral .section_header .menu_page > ul {
		width: 100%;
	}
	.site36_head_col0_dcentral .section_header .menu_page > ul > li{
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid #2c3776;
	}
	.site36_head_col0_dcentral .section_header .menu_page > ul > li > a {
	    padding: 0 15px;
	    display: block;
	    width: 80%;

	}
	.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu {
	    position: initial;
	    width: 100%;
	    top: inherit;
	    background: #2c3776;
	    margin-top: 10px;
	}
	.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu > ul > li a {
		padding: 15px 30px;
		color: #fff;
	    font-family: SVN-Gotham Light;
	}
	.site36_head_col0_dcentral .section_header .icon_open_menu {
		display: block;
		order: 3;
		margin-left: 30px;
	}
	.site36_head_col0_dcentral .section_header .menu_page {
		display: none;
	}
	.site36_head_col0_dcentral.active_bg {
		height: 100vh;
		background: #fff;
	}
	.site36_head_col0_dcentral .section_header.active .menu_page {
		display: block !important;
	}
}



@media screen and (max-width: 576px) {
	.site36_head_col0_dcentral .section_header {
		padding: 0 15px;
	}
	.site36_head_col0_dcentral .section_header .menu_page {
		width: 100%;
	    margin-top: 10px;
	    padding: 10px 15px;
	    display: none;
	    top: 25%;
	}
	.site36_head_col0_dcentral .section_header .menu_page > ul , .site36_head_col0_dcentral .section_header .menu_page > ul > li{
		width: 100%;
	}
	.site36_head_col0_dcentral .section_header .menu_page > ul > li > a {
		padding: 10px 15px 10px 0;
	    display: block;
	    width: 50%;
	}
	.site36_head_col0_dcentral .section_header .menu_page > ul > li {
		padding: 10px 0;
		border-bottom: 1px solid #183274;
	}
	.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu {
		position: inherit;
	    width: inherit;
	    top: inherit;
	    background: #02aef1;
	    width: 100%;
	}
	.site36_head_col0_dcentral .section_header .menu_page > ul > li .submenu > ul > li a {
		color: #fff;
	}
	.site36_head_col0_dcentral .section_header .icon_open_menu {
		display: block;
	}
	.section_header.active {
		height: 100vh;
		display: inline-block;
		width: 100%;
		background: #fff;
		position: relative;
	}
	.section_header.active .icon_open_menu {
		position: absolute;
		right: 15px;
		top: 10px;
	}
	.site36_head_col0_dcentral .section_header .form_lang {
		order: 3;
		width: 100%;
		display: none;
	}
	 .section_header.active .menu_page {
		display: flex !important;
	}
	.section_header.active .form_lang {
		display: block !important;
	}
	.site36_head_col0_dcentral .section_header .form_lang .form_page , .site36_head_col0_dcentral .section_header .form_lang .language_page  {
		padding: 15px 0;
		margin-right: 0;
	}
	.site36_head_col0_dcentral .section_header .form_lang .language_page a:first-child {
		padding: 0 7px 0 0;
	}
	.site36_head_col0_dcentral .section_header .form_lang .form_page .form_search {
	    position: inherit;
	    width: 100%;
	    right: inherit;
	    top: inherit;
	}
	.site36_head_col0_dcentral.active {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: #fff;
		z-index: 10;
	}
}

/* site36_bann_col0_slide */
.site36_bann_col0_slide {
	position: relative;
	.slider_banner {
		overflow: hidden;
		.img {
			img {
				width: 100%;
			}
		}
	}
	.btn_arrow_down {
		position: absolute;
		bottom: 85px;
		left: 50%;
		transform: translate(0 , -50%);
		text-align: center;
	    width: 50px;
	    color: #fff;
	    p {
	    	font-family: Chakra Petch;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			text-align: center;
			margin-bottom: 15px;
			color: #FFFFFF;
	    }
	}
}

@media screen and (max-width: 1100px) and (min-width: 992px) {
	.site36_bann_col0_slide .btn_arrow_down {
		bottom: 0;
	}
}

@media screen and (max-width: 576px) {
	.site36_bann_col0_slide .btn_arrow_down {
		bottom: 0;
		left: 45%;
	}
}

/* site36_video_col12_intro */
.site36_video_col12_intro {
	padding-top: 66px;
	.video_page {
		width: 90%;
		height: 560px;
		overflow: hidden;
		position: relative;
		margin: auto;
		iframe {
			width: 100%;
			height: 100%;
		}
		.thumb_img {
			position: absolute;
			top: 0;
			left : 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.play_img {
				width: 70px;
				height: 70px;
				max-width: 70px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50% , -50%);
				&:hover {
					cursor: pointer;
				}
				img {
					max-width: 100%;
				}
			}
			.circle {
			    border-radius: 50%;
			    transition: height 0.25s ease, width 0.25s ease;
			    transform: translate(-50%, -50%);
			    z-index: 6;
			    &:before {
			    	content: "";
				    display: block;
				    position: absolute;
				    top: 0px;
				    right: 0px;
				    bottom: 0;
				    left: 0px;
				    border-radius: 50%;
				    border: 1px solid #ffffff85;
				    animation: ripple 2.5s linear infinite;
			    }
			    &:after {
			    	content: "";
				    display: block;
				    position: absolute;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    border-radius: 50%;
				    border: 1px solid #ffffff85;
				    z-index: -1;
				    animation: ripple 2s linear 1s infinite;
			    }
			}

			@keyframes ripple {
			  0% {
			    transform: scale(1);
			  }
			  75% {
			    transform: scale(1.75);
			    opacity: 1;
			  }
			  100% {
			    transform: scale(2.25);
			    opacity: 0;
			  }
			}
		}
	}
	.video_page.active {
		.thumb_img {
			display: none;
		}
	}
}

@media screen and (max-width: 576px) {
	.site36_video_col12_intro .video_page {
	    width: 100%;
	    height: 250px;
	}
	.site36_video_col12_intro {
		padding-top: 30px;
	}
}

/* site36_intr_col12_dcentral */
.site36_intr_col12_dcentral {
	padding-top: 78px;
    padding-bottom: 75px;
	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		.left_about {
			width: 50%;
			overflow: hidden;
			padding-right: 85px;
			.title_basic {
				h2 {
					font-family: SVN-Miller Banner;
					font-style: normal;
					font-weight: normal;
					font-size: 36px;
					line-height: 49px;
					color: #24295B;
					position: relative;
				}
				span {
					position: relative;
					z-index: 1;
					&:before {
						position: absolute;
						content: '';
						width: 120px;
						height: 19px;
						background: linear-gradient(90deg, #9F9E9F -29.83%, #A9A8A9 -22.11%, #CAC8C8 4.61%, #E4E3E3 29.21%, #F6F5F5 50.7%, #FFFFFF 66.7%, #F0EFEE 80.4%, #D2D1D1 104.8%, #A8A7A8 136.89%, #9F9E9F 143.75%);
						left: 0;
						bottom: 0;
						z-index: -1;
					}
				}				
			}
			.content_about {
				h2 {
					font-family: SVN-Gotham;
				    font-style: normal;
				    font-weight: bold;
				    font-size: 24px;
				    line-height: 33px;
				    text-align: justify;
				    color: #2C3776;
				    margin: 26px 0;
				}
				.item {
					p {
						font-family: SVN-Gotham Light;
						font-style: normal;
						font-weight: 450;
						font-size: 18px;
						line-height: 150%;
						color: #4F4F4F;
						padding-left: 25px;
						position: relative;
						margin-bottom: 12px;
						&:before {
							position: absolute;
							content: '';
							width: 8px;
							height: 8px;
							background: #4F4F4F;
							border-radius: 100%;
							left: 0;
							top: 12px;
						}
						span {
							font-family: SVN-Gotham;
						}
					}
				}
				.btn_xemthem {
				    font-family: SVN-Gotham;
				    font-style: normal;
				    font-weight: 500;
				    font-size: 18px;
				    line-height: 134.84%;
				    color: #FFFFFF;
				    background: linear-gradient(90deg, #2D387B 0%, #384CB9 104.12%);
				    border: none;
				    width: 170px;
				    height: 50px;
				    margin-top: 35px;
				    transition: 0.5s;
				    &:hover {
				    	background: #2d387b;
				    	img {
				    		margin-left: 20px;
				    	}
				    }
				    img {
				    	margin-left: 10px;
				    	transition: 0.5s;
				    }
				}
			}
		}
		.right_about {
			width: 50%;
			/*overflow: hidden;*/
			.slider_about {
				width: 100%;
				.img {
					width: 100%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: 0.5s;
					}
					&:hover {
						img {
							transform: scale(1.1);
						}
					}
				}
				.slick-prev {
				    left: 82%;
				    top: 100.5%;
				    z-index: 1;
				}
				.slick-next {
			        right: 33px;
				    top: 100.5%;
				}
				.slick-prev:before, .slick-next:before {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 1100px)  and (min-width: 992px) {
	.site36_intr_col12_dcentral .row .right_about .slider_about .slick-prev {
		left: 78%;
	}
}
@media screen and (max-width: 991px)  and (min-width: 576px) {
	.site36_intr_col12_dcentral .row .left_about , .site36_intr_col12_dcentral .row .right_about {
		width: 100%;
		padding: 0;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 576px) {
	.site36_intr_col12_dcentral .row .left_about , .site36_intr_col12_dcentral .row .right_about {
		width: 100%;
		padding: 0 !important;
	}
	.site36_intr_col12_dcentral .row .right_about  {
		margin: 30px 0;
	}
	.site36_intr_col12_dcentral {
		padding: 30px 15px;
	}
	.site36_intr_col12_dcentral .row .right_about .slider_about .slick-prev {
	    left: 69%;
	}
	.site36_intr_col12_dcentral .row .left_about .title_basic h2 {
		font-size: 24px;
	}
	.site36_intr_col12_dcentral .row .left_about .content_about h2 {
		font-size: 18px;
	}
	.site36_intr_col12_dcentral .row .left_about .content_about .item p {
		font-size: 16px;
	}
	.site36_intr_col12_dcentral .row .left_about .content_about .btn_xemthem {
		font-size: 16px;
	}
}



/* site36_html_col0_map */
.site36_html_col0_map {
    background: linear-gradient(123.46deg, #2C3776 19.26%, #2C3776 19.32%, #24295B 31.09%, #1C1F48 42.75%, #16173C 54.1%, #121235 65.01%, #111032 75.02%, #111135 78.78%, #11163C 84.58%, #111D47 91.68%, #0F2558 99.1%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    .map {
    	width: 50%;
    	overflow: hidden;
    	position: relative;
    	.logo_map {
    		position: absolute;
    		top: 41.5%;
		    left: 41.9%;
    		transform: translate(-50% , -50%);
    	}

    	.logo_map_circle {
		    transition: height 0.25s ease, width 0.25s ease;
		    animation: ripple1 1.5s linear infinite;
		}

		@keyframes ripple1 {
		  0% {
		    transform: scale(1);
		  }
		  75% {
		    transform: scale(1.1);
		    opacity: 1;
		  }
		  100% {
		    transform: scale(1.3);
		    opacity: 0;
		  }
		}

    	> img {
    		width: 100%;
    		height: 100%;
    		object-fit: cover;
    	}
    	.line_map {
    		position: absolute;
    		top: 47.5%;
		    left: 41.9%;
    		transform: translate(-50% , -50%);

    		.line_map_circle {
    			animation: spin 4s infinite linear;
    		}
    		@keyframes spin {
			  100% {
			    transform: rotate(360deg);
			  }
			}
    	}
    	.line_map.circle {
		    border-radius: 50%;
		    transition: height 0.25s ease, width 0.25s ease;
		    transform: translate(-50%, -50%);
		    z-index: 6;
		    width: 212px;
		    height: 212px;
		    &:before {
		    	content: "";
			    display: block;
			    position: absolute;
			    top: 0px;
			    right: 0px;
			    bottom: 0;
			    left: 0px;
			    border-radius: 50%;
			    border: 1px solid #11113359;
			    animation: ripple 2.5s linear infinite;
		    }
		    &:after {
		    	content: "";
			    display: block;
			    position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    border-radius: 50%;
			    border: 1px solid #11113359;
			    z-index: -1;
			    animation: ripple 2s linear 1s infinite;
		    }
		}

		@keyframes ripple {
		  0% {
		    transform: scale(1);
		  }
		  75% {
		    transform: scale(1.75);
		    opacity: 1;
		  }
		  100% {
		    transform: scale(2.25);
		    opacity: 0;
		  }
		}
    }
    .content_map {
    	width: 50%;
    	overflow: hidden;
	    padding: 0px 365px 0px 115px;
	    color: #fff;
	    text-align: justify;
	    .title_basic_light {
			h2 {
				font-family: SVN-Miller Banner;
				font-style: normal;
				font-weight: normal;
				font-size: 36px;
				line-height: 49px;
				position: relative;
			}
			span {
				position: relative;
				z-index: 1;
				&:before {
					position: absolute;
					content: '';
					width: 120px;
					height: 19px;
					background: #92A2FF;
					opacity: 0.3;
					left: 0;
					bottom: 0;
					z-index: -1;
				}
			}				
		}
		p {
			margin-top: 40px;
		    font-family: 'SVN-Gotham Light';
		    font-style: normal;
		    font-weight: normal;
		    font-size: 18px;
		    line-height: 150%;
		    text-align: justify;
		}
    }
}


@media screen and (max-width: 1400px) and (min-width: 1300px) {
	.site36_html_col0_map .content_map {
	    padding: 0px 85px 0px 40px;
	}
}
@media screen and (max-width: 1100px)  and (min-width: 992px) {
	.site36_html_col0_map .content_map {
		padding: 15px;
	}
	.site36_html_col0_map .content_map p {
	    margin-top: 20px;
	    display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	}
}
@media screen and (max-width: 991px)  and (min-width: 576px) {
	.site36_html_col0_map .map {
		width: 100%;
		padding: 0;
	}
	.site36_html_col0_map .content_map {
		width: 100%;
		padding: 15px;
	}
}

@media screen and (max-width: 576px) {
	.site36_html_col0_map .map  {
		width: 100%;
		padding: 0 !important;
	}
	.site36_html_col0_map .content_map {
		width: 100%;
		padding: 15px;
	}
	.site36_intr_col12_dcentral .row .right_about  {
		margin: 30px 0;
	}
	.site36_intr_col12_dcentral {
		padding: 30px 15px;
	}
	.site36_intr_col12_dcentral .row .right_about .slider_about .slick-prev {
	    left: 69%;
	}
	.site36_html_col0_map .content_map .title_basic_light h2 {
		font-size: 24px;
	}
	.site36_html_col0_map .content_map p {
		font-size: 16px;
	}
}




/* site36_bann_col0_tienich */
.site36_bann_col0_tienich {
	padding-top: 70px;
	.title_des {
		width: 100%;
		text-align: center;
		h2 {
			span {
				font-family: SVN-Miller Banner;
				font-style: normal;
				font-weight: normal;
				font-size: 36px;
				line-height: 49px;
				color: #24295B;
				position: relative;
				z-index: 1;
				&:before {
					position: absolute;
					content: '';
					width: 120px;
					height: 19px;
					background: linear-gradient(90deg, #9F9E9F -29.83%, #A9A8A9 -22.11%, #CAC8C8 4.61%, #E4E3E3 29.21%, #F6F5F5 50.7%, #FFFFFF 66.7%, #F0EFEE 80.4%, #D2D1D1 104.8%, #A8A7A8 136.89%, #9F9E9F 143.75%);
					bottom: 0;
					left: 50%;
					transform: translate(-50% , 0);
					z-index: -1;
				}
			}
		}
		p {
			font-family: SVN-Gotham Light;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 150%;
			text-align: center;
			color: #5A5A5A;
			width: 70%;
			margin: auto;
			margin-top: 35px;
		}
	}
	.img_list_page {
		margin-top: 50px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.img {
			width: 24.5%;
			position: relative;
			&:hover {
				cursor: pointer;
				img {
					&:nth-child(2) {
						opacity: 1;
					}
				}
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				&:nth-child(2) {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					transition: 0.5s;
				}
			}
		}
	}	
}

@media screen and (max-width: 576px) {
	.site36_bann_col0_tienich .img_list_page .img {
		width: 50%;
	}
	.site36_bann_col0_tienich {
		padding: 30px 15px;
	}
	.site36_bann_col0_tienich .title_des h2 span {
		font-size: 24px;
		line-height: 26px;
	}
	.site36_bann_col0_tienich .title_des h2 span:before {
		display: none;
	}
}



/* site36_menu_col12_10daitinhhoa */
.site36_menu_col12_10daitinhhoa {
	padding-top: 77px;
	.title_des {
		width: 100%;
		text-align: center;
		h2 {
			span {
				font-family: SVN-Miller Banner;
				font-style: normal;
				font-weight: normal;
				font-size: 36px;
				line-height: 49px;
				color: #24295B;
				position: relative;
				z-index: 1;
				&:before {
					position: absolute;
					content: '';
					width: 120px;
					height: 19px;
					background: linear-gradient(90deg, #9F9E9F -29.83%, #A9A8A9 -22.11%, #CAC8C8 4.61%, #E4E3E3 29.21%, #F6F5F5 50.7%, #FFFFFF 66.7%, #F0EFEE 80.4%, #D2D1D1 104.8%, #A8A7A8 136.89%, #9F9E9F 143.75%);
					bottom: 0;
					left: 50%;
					transform: translate(-50% , 0);
					z-index: -1;
				}
			}
		}
	}
	.daitinhoa_page {
		width: 100%;
		position: relative;
		display: inline-block;
		padding: 70px 0;
		.img_tt {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50% , -50%);
			img {
				max-width: 100%;
			}
			.bg_tinhhoa {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50% , -50%);
				max-width: 100%;
			}
		}
		.item_tinhoa {
			width: 100%;
			display: inline-block;
			.box {
				width: 50%;
				float: left;
			    display: flex;
			    align-items: center;
			    flex-flow: row wrap;
			    margin: 20px 0;
			    &:hover {
			    	cursor: pointer;
			    	.img {
			    		img {
			    			transform: scale(1.1);
			    		}
			    	}
			    }
			    .img {
			    	width: 103px;
			    	overflow: hidden;
			    	z-index: 1;
			    	img {
			    		width: 100%;
			    		transition: 0.5s;
			    	}
			    }
				&:nth-child(2n + 2) {
					float: right;
					.content {
						p {
							text-align: left;
						}
					}
				}
				&:nth-child(2n + 1) {
					.img {
						order: 2;
					}
				}
				.content {
					width: calc(100% - 103px);
					padding: 0 30px;
					z-index: 1;
					p {
					    font-family: 'SVN-Gotham Light';
					    font-style: normal;
					    font-weight: normal;
					    font-size: 18px;
					    line-height: 150%;
					    text-align: right;
					    color: #4F4F4F;
					    strong {
					    	font-family: 'SVN-Gotham';
					    	color: #2C3776;
					    }
					}
				}
				&:nth-child(1) {
					padding-right: 60px;
				}
				&:nth-child(2) {
					padding-left: 60px;
				}
				&:nth-child(3) {
					padding-right: 190px;
				}
				&:nth-child(4) {
					padding-left: 190px;
				}
				&:nth-child(5) {
				    padding-right: 225px;
				}
				&:nth-child(6) {
					padding-left: 225px;
				}
				&:nth-child(7) {
					padding-right: 190px;
				}
				&:nth-child(8) {
					padding-left: 190px;
				}
				&:nth-child(9) {
					padding-right: 60px;
				}
				&:nth-child(10) {
					padding-left: 60px;
				}
			}
		}
	}
}

@media screen and (max-width: 1100px ){
	.site36_menu_col12_10daitinhhoa .daitinhoa_page .item_tinhoa .box {
		width: 50%;
		margin: 10px 0;
		padding: 0 !important;
	}
	.site36_menu_col12_10daitinhhoa .daitinhoa_page .img_tt {
	    position: inherit;
	    top: inherit;
	    left: inherit;
	    -webkit-transform: translate(-50%, -50%);
	    transform: inherit;
	    text-align: center;
	    height: 200px;
	    margin-bottom: 20px;
	}
	.site36_menu_col12_10daitinhhoa .daitinhoa_page .img_tt img {
	    max-width: 100%;
	    width: auto;
	    height: 100%;
	}
	.site36_menu_col12_10daitinhhoa .daitinhoa_page .img_tt .bg_tinhhoa {
		padding: 45px;
	}
}

@media screen and (max-width: 576px) {
	.site36_menu_col12_10daitinhhoa .daitinhoa_page .item_tinhoa .box {
		width: 100%;
	}
	.site36_menu_col12_10daitinhhoa {
		padding: 30px 15px;
	}
	.site36_menu_col12_10daitinhhoa .title_des h2 span {
		font-size: 24px;
	}
	.site36_menu_col12_10daitinhhoa .daitinhoa_page .item_tinhoa .box .content {
		padding: 0 15px;
	}
	.site36_menu_col12_10daitinhhoa .daitinhoa_page .item_tinhoa .box .content p {
		font-size: 16px;
	}
}

/* site36_html_col12_thuvien */
.site36_html_col12_thuvien {

	.title_basic {
		h2 {
			font-family: SVN-Miller Banner;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 49px;
			color: #24295B;
			position: relative;
		}
		span {
			position: relative;
			z-index: 1;
			&:before {
				position: absolute;
				content: '';
				width: 120px;
				height: 19px;
				background: linear-gradient(90deg, #9F9E9F -29.83%, #A9A8A9 -22.11%, #CAC8C8 4.61%, #E4E3E3 29.21%, #F6F5F5 50.7%, #FFFFFF 66.7%, #F0EFEE 80.4%, #D2D1D1 104.8%, #A8A7A8 136.89%, #9F9E9F 143.75%);
				left: 0;
				bottom: 0;
				z-index: -1;
			}
		}				
	}
	.thuvien_page {
		padding: 0px 0 120px 0;
		margin-top: 40px;
		width: 100%;
		position: relative;
		.nav_tabs {
			position: absolute;
			right: -65px;
			top: 44%;
			transform: translate(0 , -50%);
			display: grid;
		    z-index: 1;
		    background: linear-gradient(90deg, #9F9E9F -55.36%, #A9A8A9 -43.29%, #CAC8C8 -10.93%, #E4E3E3 18.84%, #F6F5F5 44.86%, #FFFFFF 64.23%, #F0EFEE 80.81%, #D2D1D1 110.35%, #A8A7A8 149.2%, #9F9E9F 157.5%);
		    padding: 5px;
		    li {
		    	margin: 2px 0;
		    	margin-bottom: 0;
		    	a {
	    		    background: #2C3776;
				    width: 130px;
				    height: 130px;
				    margin-right: 0;
				    border-radius: 0;
				    display: flex;
				    flex-flow: row wrap;
				    justify-content: end;
				    align-items: center;
				    font-family: SVN-Gotham Light;
				    text-transform: uppercase;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 21px;
					color: #FFFFFF;
					text-align: center;
					justify-content: center;
					span {
						display: block;
						width: 100%;
						img {
							margin: auto;
						}
					}
					
		    	}
		    }
		    li.active {
		    	a {
		    		border: none;
		    	}
		    }
		}
		.tab_content {
			width: 100%;
			.tab-pane {
				width: 100%;
				position: relative;
				.slider_thuvien {
					width: 100%;
					.img {
						width: 100%;
						height: 620px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.slick-prev {
					    left: 0%;
					    top: 100.5%;
					    z-index: 1;
					}
					.slick-next {
				        right: 94%;
					    top: 100.5%;
					}
					.slick-prev:before, .slick-next:before {
						display: none;
					}

					.video_page {
						width: 90%;
						height: 560px;
						overflow: hidden;
						position: relative;
						margin: auto;
						height: 620px;
						iframe {
							width: 100%;
							height: 100%;
						}
						.thumb_img {
							position: absolute;
							top: 0;
							left : 0;
							width: 100%;
							height: 100%;
							overflow: hidden;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
							.play_img {
								width: 70px;
								height: 70px;
								max-width: 70px;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50% , -50%);
								&:hover {
									cursor: pointer;
								}
								img {
									max-width: 100%;
								}
							}
							.circle {
							    border-radius: 50%;
							    transition: height 0.25s ease, width 0.25s ease;
							    transform: translate(-50%, -50%);
							    z-index: 6;
							    &:before {
							    	content: "";
								    display: block;
								    position: absolute;
								    top: 0px;
								    right: 0px;
								    bottom: 0;
								    left: 0px;
								    border-radius: 50%;
								    border: 1px solid #ffffff50;
								    animation: ripple 2.5s linear infinite;
							    }
							    &:after {
							    	content: "";
								    display: block;
								    position: absolute;
								    top: 0;
								    right: 0;
								    bottom: 0;
								    left: 0;
								    border-radius: 50%;
								    border: 1px solid #ffffff50;
								    z-index: -1;
								    animation: ripple 2s linear 1s infinite;
							    }
							}

							@keyframes ripple {
							  0% {
							    transform: scale(1);
							  }
							  75% {
							    transform: scale(1.75);
							    opacity: 1;
							  }
							  100% {
							    transform: scale(2.25);
							    opacity: 0;
							  }
							}
						}
					}
					.video_page.active {
						.thumb_img {
							display: none;
						}
					}
				}
				.btn_xemthem {
				    position: absolute;
				    right: 0;
				    bottom: -46px;
				    font-family: SVN-Gotham;
				    font-style: normal;
				    font-weight: 500;
				    font-size: 18px;
				    line-height: 134.84%;
				    color: #FFFFFF;
				    background: linear-gradient(90deg, #2D387B 0%, #384CB9 104.12%);
				    border: none;
				    width: 170px;
				    height: 50px;
				    margin-top: 35px;
				    transition: 0.5s;
				    &:hover {
				    	background: #2d387b;
				    	img {
				    		margin-left: 20px;
				    	}
				    }
				    img {
				    	margin-left: 10px;
				    	transition: 0.5s;
				    }
				}
			}
		}
	}
}


@media screen and (max-width: 1100px ){
	.site36_html_col12_thuvien .thuvien_page .nav_tabs {
		right: 0;
	}
	.site36_html_col12_thuvien .thuvien_page .tab_content .tab-pane .slider_thuvien .slick-next {
	    right: 90.5%;
	}
}

@media screen and (max-width: 576px) {
	.site36_html_col12_thuvien .thuvien_page .tab_content .tab-pane .slider_thuvien .img , .site36_html_col12_thuvien .thuvien_page .tab_content .tab-pane .slider_thuvien .video_page {
		height: 250px;
	}
	.site36_html_col12_thuvien .thuvien_page .nav_tabs {
		position: initial;
		top: inherit;
		display: inherit;
		transform: inherit;
	}
	.site36_html_col12_thuvien .thuvien_page .nav_tabs li a {
		width: 100%;
	}
	.site36_html_col12_thuvien .thuvien_page .nav_tabs li {
		width: 33.333%;
	}
	.site36_html_col12_thuvien .thuvien_page .tab_content .tab-pane .slider_thuvien .slick-next {
	    right: 80.5%;
	}
	.site36_html_col12_thuvien {
		padding: 30px 15px;
	}
	.site36_html_col12_thuvien .title_basic h2 {
		font-size: 24px;
	}
	.site36_html_col12_thuvien .thuvien_page .nav_tabs li a , .site36_html_col12_thuvien .thuvien_page .tab_content .tab-pane .btn_xemthem {
		font-size: 14px;
	}
}


/* site36_new_col12_home */
.site36_new_col12_home {
	padding-bottom: 70px;
	.title_basic {
		h2 {
			font-family: SVN-Miller Banner;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 49px;
			color: #24295B;
			position: relative;
		}
		span {
			position: relative;
			z-index: 1;
			&:before {
				position: absolute;
				content: '';
				width: 120px;
				height: 19px;
				background: linear-gradient(90deg, #9F9E9F -29.83%, #A9A8A9 -22.11%, #CAC8C8 4.61%, #E4E3E3 29.21%, #F6F5F5 50.7%, #FFFFFF 66.7%, #F0EFEE 80.4%, #D2D1D1 104.8%, #A8A7A8 136.89%, #9F9E9F 143.75%);
				left: 0;
				bottom: 0;
				z-index: -1;
			}
		}				
	}
	.news_page {
		width: 100%;
		margin-top: 75px;
		.slide_news_page {
			width: 100%;
			display: flex !important;
			flex-flow: row wrap;
		    justify-content: space-between;
		    align-items: center;
			.new_item {
				width: 18%;
				overflow: hidden;
				&:nth-child(1) {
					width: 60%;
					overflow: hidden;
					display: flex;
				    flex-flow: row wrap;
				    justify-content: space-between;
					.img {
						width: 50%;
						height: 345px;
					}
					.content {
						width: 50%;
						padding-left: 30px;
					}
				}
				&:hover {
					.img {
						img {
							transform: scale(1.2);
						}
					}
					.content {
						a {
							color: #2c3776;
						}
						.btn_xemchitiet {
							img {
								margin-left: 15px;
							}
						}
					}
				}
				.img {
					width: 100%;
					height: 190px;
					overflow: hidden;
					display: block;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: 0.5s;
					}
				}
			}
			.content {
				a {
					font-family: SVN-Gotham;
					font-style: normal;
					font-weight: 450;
					font-size: 18px;
					line-height: 150%;
					color: #5A5A5A;
					transition: 0.5s;
				}
				.date {
					margin: 15px 0;
					display: flex !important;
					align-items: center;
					img {
						max-width: 100%;
						float: left;
						margin-right: 10px;
					}
					span {
						padding: 0 3px;
						position: relative;
						font-family: SVN-Gotham Light;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 18px;
						color: #828282;
						&:before {
							position: absolute;
							content: '';
							width: 1px;
							height: 12px;
							background: #828282;
							right: -1px;
							top: 3px;
							transform: rotateZ(10deg);
						}
						&:last-child {
							&:before {
								display: none;
							}
						}
					}
					p {
						line-height: 18px;
					}
				}
				p {
					font-family: SVN-Gotham Light;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 150%;
					text-align: justify;
					color: #5A5A5A;
					display: -webkit-box;
					-webkit-line-clamp: 7;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
				.btn_xemchitiet {
					font-family: SVN-Gotham Light;
				    font-style: normal;
				    font-weight: normal;
				    font-size: 18px;
				    line-height: 130.49%;
				    display: flex;
				    align-items: center;
				    color: #2C3776;
				    border: none;
				    background: transparent;
				    padding: 0;
				    margin: 15px 0;
				    img {
				    	margin-left: 10px;
				    	transition: 0.5s;
				    }
				}
			}
		}
	}
	.btn_xemthem {
	    font-family: SVN-Gotham;
	    font-style: normal;
	    font-weight: 500;
	    font-size: 18px;
	    line-height: 134.84%;
	    color: #FFFFFF;
	    background: -webkit-gradient(linear, left top, right top, from(#2D387B), color-stop(104.12%, #384CB9));
	    background: linear-gradient(
	90deg
	, #2D387B 0%, #384CB9 104.12%);
	    border: none;
	    width: 170px;
	    height: 50px;
	    margin-top: 35px;
	    -webkit-transition: 0.5s;
	    transition: 0.5s;
	    float: right;
	    img {
	    	margin-left: 15px;
	    	transition: 0.5s;
	    }
	    &:hover {
    	    background: #2d387b;
    	    img {
    	    	margin-left: 20px;
    	    }
	    }
	}
}

@media screen and (max-width: 992px ){
	.site36_new_col12_home .news_page .slide_news_page .new_item:nth-child(1) {
		width: 100%;
	}
	.site36_new_col12_home .news_page .slide_news_page .new_item {
		width: 48.5%;
		margin-top: 25px;
	}
}

@media screen and (max-width: 576px ){
	.site36_new_col12_home .news_page .slide_news_page .new_item:nth-child(1) .img , .site36_new_col12_home .news_page .slide_news_page .new_item:nth-child(1) .content {
		width: 100%;
		padding: 0 !important;
	}
	.site36_new_col12_home .news_page .slide_news_page .new_item {
		width: 48.5%;
		margin-top: 25px;
	}
	.site36_new_col12_home {
		padding: 30px 15px;
	}
	.site36_new_col12_home .news_page {
		margin-top: 10px;
	}
	.site36_new_col12_home .title_basic h2 {
		font-size: 24px;
	}
	.site36_new_col12_home .news_page .slide_news_page .content a , .site36_new_col12_home .news_page .slide_news_page .content p ,.site36_new_col12_home .news_page .slide_news_page .content .btn_xemchitiet {
		font-size: 16px;
	}
}


/* site36_menu_col0_dailyphanphoi */
.site36_menu_col0_dailyphanphoi {
    background-image: url(./../img/dlpp.png); 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 64px 0 67px 0;
	.title_basic_light {
		margin-bottom: 63px;
		h2 {
			font-family: SVN-Miller Banner;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 49px;
			position: relative;
			text-align: center;
			color: #fff;
		}
		span {
			position: relative;
			z-index: 1;
			&:before {
				position: absolute;
				content: '';
				width: 120px;
				height: 19px;
				background: #92A2FF;
				opacity: 0.3;
				left: 50%;
				bottom: 0;
				transform: translate(-50% , 0);
				z-index: -1;
			}
		}				
	}

	
	.dailypp_page {
		width: 100%;
		display: flex !important;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		.slick-prev {
		    left: 0;
		    z-index: 1;
		}
		.slick-next {
	        right: 0px;
		}
		.slick-prev:before, .slick-next:before {
			display: none;
		}
		.img {
			padding: 30px;
			height: 157px;
		    display: flex !important;
		    align-items: center;
		    &:hover {
		    	cursor: pointer;
		    	img {
		    		transform: scale(1.1);
		    	}
		    }
			img {
				max-width: 100%;
				margin: auto;
				display: flex !important;
				flex-flow: row wrap;
				align-items: center;
				transition: 0.5s;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.site36_menu_col0_dailyphanphoi .title_basic_light h2 {
		font-size: 24px;
	}
	.site36_menu_col0_dailyphanphoi .title_basic_light h2 span:before {
		display: none;
	}
	.site36_menu_col0_dailyphanphoi .dailypp_page .slick-next {
	    right: 13px;
	}
}

/* site36_form_col12_chinhsachbanhan */
.site36_form_col12_chinhsachbanhan {
	padding: 79px 0 104px 0;
	.title_des {
		width: 100%;
		text-align: center;
		h2 {
			span {
				font-family: SVN-Miller Banner;
				font-style: normal;
				font-weight: normal;
				font-size: 36px;
				line-height: 49px;
				color: #24295B;
				position: relative;
				z-index: 1;
				&:before {
					position: absolute;
					content: '';
					width: 120px;
					height: 19px;
					background: linear-gradient(90deg, #9F9E9F -29.83%, #A9A8A9 -22.11%, #CAC8C8 4.61%, #E4E3E3 29.21%, #F6F5F5 50.7%, #FFFFFF 66.7%, #F0EFEE 80.4%, #D2D1D1 104.8%, #A8A7A8 136.89%, #9F9E9F 143.75%);
					bottom: 0;
					left: 50%;
					transform: translate(-50% , 0);
					z-index: -1;
				}
			}
		}
		p {
			font-family: SVN-Gotham Light;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 150%;
			text-align: center;
			color: #5A5A5A;
			width: 70%;
			margin: auto;
			margin-top: 35px;
		}
	}
	.form_select {
		width: 100%;
		margin-top: 52px;
		.select_box {
			width: 70%;
			margin: auto;
			position: relative;
			select {
				width: 100%;
				font-family: SVN-Gotham Light;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 150%;
				color: #828282;
				height: 50px;
			    padding: 0 15px;
			    background: #F2F2F2;
			    border: none;
			}
			.btn_download {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(0 , -50%);				
				background: linear-gradient(90deg, #2C3778 0%, #394CBA 116.78%);
				font-family: SVN-Gotham;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 150%;
				color: #FFFFFF;
				border: none;
				width: 149px;
				height: 50px;
				text-align: center;
				transition: 0.5s;
				&:hover {
					background: #fff;
					color: #2C3778;
					border: 1px solid #2C3778;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.site36_form_col12_chinhsachbanhan .form_select .select_box {
	    width: 100%;
	}
	.site36_form_col12_chinhsachbanhan .form_select .select_box .btn_download {
	    position: initial;
	    right: inherit;
	    top: inherit;
	    transform: inherit;
	    margin-top: 15px;
	}
	.site36_form_col12_chinhsachbanhan .form_select .select_box {
		text-align: center;
	}
	.site36_form_col12_chinhsachbanhan {
		padding: 30px 15px;
	}
	.site36_form_col12_chinhsachbanhan .title_des h2 span {
		font-size: 24px;
	}
	.site36_form_col12_chinhsachbanhan .title_des h2 span:before {
		display: none;
	}
}




/* site36_form_col12_dkynhanthongtin */
.site36_form_col12_dkynhanthongtin {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 72px;
	.img {
		width: 50%;
		overflow: hidden;
		padding-right: 30px;
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.5s;
		}
	}
	.form_contact {
		width: 50%;
		overflow: hidden;
		padding-left: 30px;
		.title_basic {
			h2 {
				font-family: SVN-Miller Banner;
				font-style: normal;
				font-weight: normal;
				font-size: 36px;
				line-height: 49px;
				color: #24295B;
				position: relative;
			}
			span {
				position: relative;
				z-index: 1;
				&:before {
					position: absolute;
					content: '';
					width: 120px;
					height: 19px;
					background: linear-gradient(90deg, #9F9E9F -29.83%, #A9A8A9 -22.11%, #CAC8C8 4.61%, #E4E3E3 29.21%, #F6F5F5 50.7%, #FFFFFF 66.7%, #F0EFEE 80.4%, #D2D1D1 104.8%, #A8A7A8 136.89%, #9F9E9F 143.75%);
					left: 0;
					bottom: 0;
					z-index: -1;
				}
			}
			p {
				margin-top: 20px;
				font-family: SVN-Gotham Light;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 150%;
				color: #5A5A5A;
			}			
		}
		.contact_page {
			width: 100%;
			margin-top: 20px;
			input {
				width: 100%;
				height: 50px;
				border-bottom: 1px solid #E0E0E0;
				margin-bottom: 15px;
				border-top: none;
				border-right: none;
				border-left: none;
				background: transparent;
				&::placeholder {
					font-family: SVN-Gotham Light;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 150%;
					color: #828282;
				}
			}
			textarea {
				height: 120px;
				border-bottom: 1px solid #E0E0E0;
				width: 100%;
				border-top: none;
				border-right: none;
				border-left: none;
				background: transparent;
				&::placeholder {
					font-family: SVN-Gotham Light;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 150%;
					color: #828282;
				}
			}
			.btn_gui {
				background: linear-gradient(270deg, #394DBC 0%, #2C3776 100%);
				font-family: SVN-Gotham Light;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 150.36%;
				color: #FFFFFF;
				width: 158px;
				height: 50px;
				border: none;
				transition: 0.5s;
				margin-top: 25px;
				&:hover {
					background: #394DBC;
				}
				img {
					margin-left: 10px;
					transition: 0.5s;
				}
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	.site36_form_col12_dkynhanthongtin .img , .site36_form_col12_dkynhanthongtin .form_contact {
		width: 100%;
		padding: 0;
	}
	.site36_form_col12_dkynhanthongtin .form_contact  {
		margin-top: 20px;
	}
}
@media screen and (max-width: 576px) {
	.site36_form_col12_dkynhanthongtin {
		padding: 30px 15px;
	}
	.site36_form_col12_dkynhanthongtin .form_contact .title_basic h2 v{
		font-size: 24px;
	}
	.site36_form_col12_dkynhanthongtin .form_contact .title_basic p ,.site36_form_col12_dkynhanthongtin .form_contact .contact_page input::placeholder , .site36_form_col12_dkynhanthongtin .form_contact .contact_page textarea::placeholder{
		font-size: 16px;
	}
}

/* site36_foot_col0_dcentral */
.site36_foot_col0_dcentral {
	background-image: url(./../img/bgft.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.site36_foot_col0_dcentral {
	padding: 45px 0 0px 0;
	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.footer_item {
			width: 33.333333%;
			overflow: hidden;
			color: #fff;
			&:nth-child(3) {
				padding: 0 0 0 120px;
			}
			.logo_ft {
				display: block;
				width: 100%;
				img {
					max-width: 100%;
				}
			}
			.list_link {
				margin-top: 40px;
				a {
					margin-right: 19px;
					img {
						max-width: 100%;
					}
				}
			}
			.item {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: baseline;
				span {
					display: block;
					width: 30px;
					img {
						max-width: 100%;
					}
				}
				p {
					width: calc(100% - 30px);
					font-family: SVN-Gotham Light;
				    font-style: normal;
				    font-weight: normal;
				    font-size: 16px;
				    line-height: 170.5%;
				    color: #F2F2F2;
				}
			}
			.des {
				p {
					margin-top: 30px;
					font-family: SVN-Gotham Light;
					font-style: normal;
					font-weight: 300;
					font-size: 12px;
					line-height: 150.5%;
					color: #F2F2F2;
				}
			}
			h2 {
				font-family: SVN-Gotham;
			    font-style: normal;
			    font-weight: 450;
			    font-size: 16px;
			    line-height: 22px;
			    color: #FDFDFD;
			    text-transform: uppercase;
			    margin-bottom: 20px;
			}
			.map {
				width: 100%;
				height: 180px;
				overflow: hidden;
				iframe {
					width: 100%;
				}
			}

		}
	}
	.copyrighter {
		margin-top: 80px;
		text-align: center;
		width: 100%;
	background: linear-gradient(90deg, #9F9E9F -0.2%, #A9A8A9 4.96%, #CAC8C8 22.84%, #E4E3E3 39.3%, #F6F5F5 53.67%, #FFFFFF 64.37%, #F0EFEE 73.54%, #D2D1D1 89.86%, #A8A7A8 111.33%, #9F9E9F 115.92%);
		p {
			font-family: SVN-Gotham Light;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: #5A5A5A;
		    padding: 15px 0;
		}
	}
}

@media screen and (max-width: 991px) {
	.site36_foot_col0_dcentral .row .footer_item {
	    width: 100%;
	    padding: 0 !important;
	}
	.site36_foot_col0_dcentral .copyrighter {
		margin-top: 20px;
	}
}

@media screen and (max-width: 576px) {
	.site36_foot_col0_dcentral .row .footer_item {
		padding: 30px 15px 0 15px !important;
	}
}

/* site36_html_col0_matbang */
.site36_html_col0_matbang {
	overflow: hidden;
	.container {
	    margin-top: -20%;
	}
	> .img {
		width: 100%;
		img {
			width: 100%;
		}
	}

	.title_basic_light {
		margin-bottom: 50px;
		h2 {
			font-family: SVN-Miller Banner;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 49px;
			position: relative;
			text-align: center;
			color: #fff;
		}
		span {
			position: relative;
			z-index: 1;
			&:before {
				position: absolute;
				content: '';
				width: 120px;
				height: 19px;
				background: #92A2FF;
				opacity: 0.3;
				left: 50%;
				bottom: 0;
				transform: translate(-50% , 0);
				z-index: -1;
			}
		}				
	}
	.matbang_page {
		text-align: center;
		padding-bottom: 60px;
		.btn_xemthem {
		    font-family: SVN-Gotham;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 18px;
		    line-height: 134.84%;
		    color: #FFFFFF;
		    background: -webkit-gradient(linear, left top, right top, from(#2D387B), color-stop(104.12%, #384CB9));
		    background: linear-gradient(
		90deg
		, #2D387B 0%, #384CB9 104.12%);
		    border: none;
		    width: 170px;
		    height: 50px;
		    margin-top: 35px;
		    -webkit-transition: 0.5s;
		    transition: 0.5s;
		    margin-top: 40px;
		    img {
		    	margin-left: 15px;
		    	transition: 0.5s;
		    }
		    &:hover {
	    	    background: #2d387b;
	    	    img {
	    	    	margin-left: 20px;
	    	    }
		    }
		}
	}
	.matbang_box_item {
		width: 100%;
		position: relative;
		> img {
			width: 100%;
		}
		.img_position {
			position: absolute;
			> img {
				opacity: 0;
			}
			.box_hover {
				display: none;
				width: 100%;
				height: 100%;
				position: fixed;
				background: #00000050;
				top: 0;
				left: 0;
				/*display: flex;*/
				align-items: center;
				justify-content: center;
				z-index: 100;
				.content_hover {
					width: 80%;
					height: 80%;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						width: 100%;
					}
				}
			}
			.box_hover.active {
				display: flex;
			}
			&:hover {
				cursor: pointer;
			}
			&:nth-child(2) {
				top: 93px;
			    left: 52px;
			    width: 106px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(3) {
				top: 89px;
			    left: 165px;
			    width: 99px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(4) {
				top: 89px;
			    left: 267px;
			    width: 99px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(5) {
				top: 89px;
			    left: 370px;
			    width: 99px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(6) {
				top: 89px;
			    left: 475px;
			    width: 159px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(7) {
				top: 89px;
			    left: 644px;
			    width: 200px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(8) {
				top: 89px;
			    right: 113px;
			    width: 200px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(9) {
				top: 275px;
			    left: 50px;
			    width: 125px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(10) {
			    top: 304px;
			    left: 216px;
			    width: 207px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(11) {
			    top: 428px;
			    left: 273px;
			    width: 165px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(12) {
			    top: 516px;
			    left: 273px;
			    width: 165px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(13) {
			    top: 303px;
			    left: 472px;
			    width: 130px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(14) {
			    top: 303px;
			    left: 605px;
			    width: 240px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(15) {
		        top: 262px;
			    left: 851px;
			    width: 210px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(16) {
		        top: 367px;
			    left: 851px;
			    width: 210px;
				img {
					max-width: 100%;
				}
			}
			&:nth-child(17) {
		        top: 472px;
			    left: 851px;
			    width: 210px;
				img {
					max-width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.site36_html_col0_matbang .title_basic_light h2 {
		color: #24295B !important;
		font-size: 24px;
	}
	.site36_html_col0_matbang .title_basic_light h2 span:before {
		display: none;
	}
	.site36_html_col0_matbang > .img {
		display: none;
	}
	.site36_html_col0_matbang .matbang_page .btn_xemthem {
		font-size: 16px;
	}
	.site36_html_col0_matbang .container {
		margin-top: 0;
	}
}